<!DOCTYPE html>
<html th:replace="~{layout/mainFrame :: mainFrame(~{::title},~{::section},~{::link})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>after-login</title>
  <link rel="stylesheet" th:href="@{/customCss/default.css}">
</head>
<body>
<section>
    <li th:if="${#authorization.expression('isAuthenticated()')}">
            <span>경! 로그인 성공 축!</span>
    </li>



</section>
</body>
</html>