<!DOCTYPE html>
<html th:replace="~{layout/mainFrame :: mainFrame(~{::title},~{::section},~{::link})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginForm</title>
    <link rel="stylesheet" th:href="@{/customCss/default.css}">
</head>
<body>
<section>


    <form action="./login" method="post" enctype="application/x-www-form-urlencoded">

        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <label for="username" th:text="${param.wrong != null ? param.wrong : '이메일'}"></label>
                <input type="text" id="username" name="username" class="form-control"
                >
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <label for="password">비밀번호</label>
                <input type="text" id="password" name="password" class="form-control"
                >
            </div>
            <div class="col-4"></div>
        </div>

            <br/>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 justify-content-center" id="logDiv">
                <a href="./oauth2/authorization/google"><img src="/img/google.png" th:src="@{/img/google.png}"></a>
                <a href="./oauth2/authorization/naver"><img src="/img/naver.png" th:src="@{/img/naver.png}"></a>
                <a href="./oauth2/authorization/github"><img src="/img/github.png" th:src="@{/img/github.png}"></a>
            </div>
            <div class="col-4"></div>
        </div>
            <br/>
        <div class="row align-items-center">
            <div class="col-4"></div>
            <div class="col-4"><a href="./findMemberInfoForm">아이디/비밀번호찾기</a></div>
            <div class="col-4"></div>

        </div>
        <br/>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="w-100 btn btn-outline-success btn-lg" type="submit">로그인</button>
            </div>
            <div class="col-4"></div>
        </div>

    </form>
</section>
</body>
</html>